.wrapper-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inner-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
}

.btn-progress {
    position: absolute;
        top: 0;
        left: 0;
    }